---
version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - ruby
    commit-message:
      prefix: chore
      include: scope
    groups:
      development-dependencies:
        patterns:
          - rails
          - rspec
          - rubocop*
        update-types:
          - minor
          - patch
      production-dependencies:
        patterns:
          - rack
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: rails
        update-types:
          - version-update:semver-major
      - dependency-name: rack
        update-types:
          - version-update:semver-major
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - github-actions
    commit-message:
      prefix: chore
      include: scope
