name: CI

on:
  push:
    branches:
      - main
      - master

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}
    timeout-minutes: 10
    strategy:
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
        rails:
          - '7.0'
          - '7.1'
          - '7.2'
        exclude:
          - ruby: '3.2'
            rails: '7.2'
          - ruby: '3.4'
            rails: '7.0'

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install dependencies
        run: |
          bundle config set --local without 'development'
          bundle update rails --conservative --version "~> ${{ matrix.rails }}.0"
          bundle install
      - name: Run RSpec tests
        run: bundle exec rspec
      - name: Run RuboCop
        run: bundle exec rubocop
